<!DOCTYPE html>
<aside
  class="col-lg-2 gx-0 position-sticky top-0 border-end border-light-subtle d-flex flex-column offcanvas-lg offcanvas-start"
  id="sidebar"
  tabindex="-1"
  aria-labelledby="offcanvasLabel"
>
  <div class="sidebar-wrapper active top-0 bg-body-tertiary shadow-sm d-flex flex-column h-100">
    <header class="sidebar-header position-relative">
      <div class="d-flex justify-content-between align-items-center">
        <div class="logo">
          <h1 class="navbar-brand fs-4">Lili Dashboard</h1>
        </div>

        <button type="button" class="btn btn-close d-lg-none" data-bs-dismiss="offcanvas" data-bs-target="#sidebar" aria-label="Close"></button>
      </div>
      <hr />
    </header>

    <nav class="sidebar-menu d-flex flex-column justify-content-between h-100">
      <div class="menu">
        <div class="sidebar-item">
          <a href="/" class="sidebar-link">
            <i class="bi bi-house"></i>
            Homepage
          </a>
        </div>

        <div class="sidebar-item">
          <a href="{{ url_for('route.dashboard') }}" class="sidebar-link">
            <i class="bi bi-columns-gap"></i>
            Dashboard
          </a>
        </div>

        <div class="sidebar-item">
          <a href="/analytic" class="sidebar-link">
            <i class="bi bi-bar-chart"></i>
            Analytic
          </a>
        </div>

        <div class="sidebar-item has-sub">
          <div class="sidebar-link">
            <i class="bi bi-clipboard-data"></i>
            <span>Dataset</span>
          </div>

          <div class="submenu">
            <div class="submenu-item">
              <a href="{{ url_for('lstm.read_lstm') }}" class="submenu-link">LSTM</a>
            </div>

            <div class="submenu-item">
              <a href="{{ url_for('fineTuning.view_finetuning_data') }}" class="submenu-link">Fine Tuning</a>
            </div>
          </div>
        </div>

        <div class="sidebar-item has-sub">
          <div class="sidebar-link">
            <i class="bi bi-graph-up"></i>
            <span>Training Models</span>
          </div>

          <div class="submenu">
            <div class="submenu-item">
              <a href="{{ url_for('train_lstm.get_models') }}" class="submenu-link">LSTM</a>
            </div>

            <div class="submenu-item">
              <a href="{{ url_for('train_finetuning.index')}}" class="submenu-link">Fine Tuning</a>
            </div>
          </div>
        </div>
      </div>

      <div class="menu mb-4">
        <div class="sidebar-item mb-3 border-top">
          <a href="{{ url_for('auth.logout') }}" class="sidebar-link">
            <i class="bi bi-gear"></i>
            Settings
          </a>
        </div>

        <span class="badge text-bg-info fs-6">
          <i class="bi bi-person-circle me-2"></i>
          {{ current_user.fullname }}
        </span>
      </div>
    </nav>
  </div>
</aside>
