<aside class="col-3 gx-0" id="sidebar">
    <div class="sidebar-wrapper active top-0 shadow-sm rounded-4 bg-info-subtle">
        <header class="sidebar-header position-relative">
            <div class="d-flex justify-content-between align-items-center">
                <div class="logo">
                    <a class="navbar-brand" href="/">Lili Dashboard</a>
                </div>

                <div class="sidebar-toggler x">
                    <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                </div>
            </div>
        </header>

        <nav class="sidebar-menu">
            <div class="menu">
                <div class="sidebar-item"><a href="/" class="sidebar-link">Homepage</a></div>

                <div class="sidebar-item">
                    <a href="{{ url_for('route.dashboard') }}" class="sidebar-link">Dashboard</a>
                </div>

                <div class="sidebar-item">
                    <a href="#" class="sidebar-link">Analytic</a>
                </div>

                <div class="sidebar-item has-sub">
                    <div class="sidebar-link"><span>Dataset</span></div>

                    <div class="submenu">
                        <div class="submenu-item">
                            <a href="{{ url_for('lstm.read_lstm') }}" class="submenu-link">LSTM</a>
                        </div>

                        <div class="submenu-item">
                            <a href="{{ url_for('fineTuning.view_finetuning_data') }}" class="submenu-link">Fine Tuning</a>
                        </div>
                    </div>
                </div>

                <div class="sidebar-item has-sub">
                    <div class="sidebar-link"><span>Training Models</span></div>

                    <div class="submenu">
                        <div class="submenu-item">
                            <a href="{{ url_for('train_lstm.get_models') }}" class="submenu-link">LSTM</a>
                        </div>

                        <div class="submenu-item">
                            <a href="#" class="submenu-link">Fine Tuning</a>
                        </div>
                    </div>
                </div>

                <div class="sidebar-item">
                    <a href="#" class="sidebar-link">Settings</a>
                </div>
            </div>
        </nav>
    </div>
</aside>
