<!DOCTYPE html>
{% extends 'dashboard.html' %} {% block content %}

<!-- Header with Create Button -->
<header class="d-flex justify-content-between align-items-center my-4">
  <h1>Model Management</h1>
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createTrainingModal">Create Model</button>
</header>

<!-- Alert for messages -->
<div id="liveAlertPlaceholder"></div>

<!-- Models Table -->
<section class="table-responsive mb-3">
  <div class="border rounded shadow-sm">
    <table class="table table-hover">
      <thead>
        <tr class="text-center">
          <th scope="col">Version</th>
          <th scope="col">Created Date</th>
          <th scope="col">Status</th>
          <th scope="col">Accuracy</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody id="models-table-body"></tbody>
    </table>
  </div>
</section>

{% include 'partials/create-training-lstm-modal.html' %} {% endblock content %}
